<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <style>
table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}
button{
    margin: 10px;
}
</style>
</head>
<body>


    <h2>List of all users</h2>
    <table>
        <tr>
            <td>Id</td>
            <td>Username</td>
            <td>Email</td>
            <td>Edit Option</td>
            <td>Delete User</td>
        </tr>
        <% for(user of users){ %>
    <tr>
        <td>
           <%=user.id%>
        </td>
        <td>
            <%=user.username%>
        </td>
        <td>
            <%=user.email%>
        </td>
        <td>
            <form method="GET" action="/user/<%=user.id%>/edit">
            <button>Edit Username</button>
            </form>
        </td>
        <td>
            <form method="GET" action="/user/<%=user.id%>/delete">
            <button>Delete User</button>
            </form>
        </td>
        
    </tr>
<% } %>
    </table>
    <form action="/user/new" method="GET">
        <button>Add new User</button>
    </form>   
</body>
</html>

